@charset "UTF-8";
html{
font-size:100%; 
height: 100%;   
}
body{
  line-height:1.7; 
  height: 100%;
}
.page-title{
  text-align: center;
  font-family:"Josefin Slab";
  font-size:250%;
  color:#161F6D;
}
/*Header*/ 
#header{
  height: 100%;
}
.header{
  width: 100%;
  position: relative;
  margin-top:2%;
  margin-bottom:5%;
}
.header h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  font-family:"Josefin Slab";
  font-size:250%;
  color:#161F6D;
  white-space: nowrap;
  display:none;
}

.menu {
  display: flex;
  max-width: 650px;
  margin: 0 auto;
  justify-content: space-between;
  list-style: none;
  font-family:"Zen Kaku Gothic New";
}
.title-about{
 color:#161F6D;
}
.title-works{
  color:#161F6D;
 }
 .title-contact{
  color:#161F6D;
 }
#subtitle-about{
  text-align: center;
  color:#000000;
  font-size:50%;
}
#subtitle-works{
  text-align: center;
  color:black;
  font-size:50%;
}
#subtitle-contact{
  text-align: center;
  color: black;
  font-size: 50%;
}
#button-about{
  justify-content: center;
  font-size:25px;
  border-radius: 50%;
  align-items: center;
  width: 300px;
  height: 300px;
  background: linear-gradient(to bottom right,#A1C4FD,#C2E9FB);
  text-decoration: none;
  text-align: center;
  box-shadow: 2px 2px 9px gray;
  font-family:"Zen Kaku Gothic New";
}
#button-about:hover{
  filter: brightness(0.7);
}
.button-about-class{
 display:none;
}
#button-works{
  justify-content: center;
  font-size:25px;
  border-radius: 50%;
  align-items: center;
  width: 300px;
  height: 300px;
  background: linear-gradient(to bottom right,#A1C4FD,#C2E9FB);
  text-decoration: none;
  text-align: center;
  box-shadow: 2px 2px 9px gray;
  font-family:"Zen Kaku Gothic New";
}
#button-works:hover{
  filter: brightness(0.7);
}
.button-works-class{
  display:none;
}
#button-contact{
  text-align: center;
  justify-content: center;
  display: flex;
  font-size:25px;
  border-radius: 50%;
  background: linear-gradient(to bottom right,#A1C4FD,#C2E9FB);
  text-decoration: none;
  width: 300px;
  height: 300px;
  box-shadow: 2px 2px 9px gray;
  align-items: center;
  margin: 0 auto;
  font-family:"Zen Kaku Gothic New";
  display:none;
}
.contact{
  text-align: center;
  justify-content: center;
  align-items: center;
}
#button-contact:hover{
  filter: brightness(0.7);
}
/*About*/ 
#about{
  background: linear-gradient(to bottom,#C2E9FB,#799AD0);
  background: -webkit-linear-gradient(top,#C2E9FB,#799AD0);
  background: -moz-linear-gradient(top,#C2E9FB,#799AD0);
  padding-top:5%;
  padding-bottom:5%;
}
.about-box{
 margin:0 auto;
 display:flex;
 justify-content: center;
 padding-top:5%;
 font-family:"Zen Kaku Gothic New";
}
.name{
  display:flex;
  margin-bottom:10%;
}
.about-left img{
 width:70%;
}
.h2{
text-align: center;
}
.about-text{
  padding-bottom:5%;
}
.about-right{
  font-size:14px;
}
.name-kanji{
  font-size:140%;
 }
.name-en{
  text-align: center;
  margin-left:5%;
}

/*Works*/ 
#works{
  padding-top:5%;
  padding-bottom:5%;
 }
.flex{
  text-align: center;
  font-family:"Zen Kaku Gothic New";
}
.flex img{
  width:100%;
  border-radius: 8%;
  padding:20px 80px;
}
.flex img:hover{
  filter: brightness(0.7);
}
/*Contact*/ 
#contact{
  background: linear-gradient(to bottom,#C2E9FB,#799AD0);
  background: -webkit-linear-gradient(top,#C2E9FB,#799AD0);
  background: -moz-linear-gradient(top,#C2E9FB,#799AD0);
  padding-top:5%;
  padding-bottom:5%;
}
#contact p{
 padding-top:1%;
 padding-bottom:3%;
 font-family:"Zen Kaku Gothic New";
}
.form{
  font-family:"Zen Kaku Gothic New";
}
  form div{
    display: block; 
    margin-top: 0em;   
    }
    label{
     font-size:1.125rem;
     margin:10px;
     display:block;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea{
     background:rgba(255,255,255,.5); 
     border:1px #ffff solid;
     border-radius:5px;   
     padding:10px;
     font-size:1rem;
     font-family:"inter";
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"]{
     width:100%;
     max-width:240px;
     font-family:"inter";
    }
    textarea{
     width:100%;
     max-width:240px;
     height:6rem;
    }
    input[type="submit"]{
     border:none;
     cursor: pointer;
     line-height:1;    
    }
    .contact-text{
      text-align: center;
      font-family:"zen kaku gothic";
    }
    .button-soushin{
      background:#161F6D;
      color: #fff;
      border-radius: 5px;
      padding: 18px 32px;
      margin-top:3%;
    }
    .button-soushin:hover{
      opacity: 0.6;
    }
     /*Footer*/ 
    footer{
     display:flex;
     justify-content:space-between;
     margin:0 auto;
     padding:2% 4%;
     background-color:#161F6D;
     color:white;
     font-size:120%;
     padding:3%;
     font-family:"julius sans one";
    }
    ul{
      list-style: none;
    }
    a{
      text-decoration:none;
      color:white;
    }
    .footer p{
      font-family:"julius sans one";

    }
    .footer-manu{
     padding-left:50px;
    }
    @media(max-width:600px){
      /*Header*/  
      #header{
       height: 150%;
      } 
      .header{
        margin-top:20%;
        margin-bottom:20%;
      }
      .header h1{
        position:relative;
        padding-top:20%;
      }
      h1 span{
        display:block;
        text-align: center;
        font-family:"Josefin Slab";
      }
      #button-about{
        margin-left:20%;
      }
      #button-contact{
        margin-left:20%;
      }
      .menu{
        display:block;
    
      }
      /*About*/ 
      #about{
        text-align: center;
        padding-top:10%;
        padding-bottom:10%;
      }
      .name{
        display:block;
      }
      .name-kanji{
        text-align: center;
      }
      .name-en{
        text-align: center;
        padding-right:5%;
      }
      .about-box{
        display:block;
      }
      /*Works*/ 
      #works{
        padding-top:10%;
        padding-bottom:10%;
      }
      /*Contact*/ 
      #contact{
        padding-top:10%;
        padding-bottom:10%;
      }
      }
